<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card ccard radius-t-0 h-100">
        <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>


        <div class="card-header pb-3 brc-secondary-l3">
          <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
            Employees
          </h5>
        </div>

        <div class="card-body pt-2 pb-1">
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="Alexa's avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              Alexa
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              Angular Developer
            </span>




          </div>
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="Derek's avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              Derek
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              ReactJs Developer
            </span>
          </div>
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="Antonio's avatar" src="https://bootdey.com/img/Content/avatar/avatar3.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              Antonio
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              Java Developer
            </span>


          </div>
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="Gabriel's avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              Gabriel
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              .Net Developer
            </span>


          </div>
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="David's avatar" src="https://bootdey.com/img/Content/avatar/avatar5.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              David
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              NodeJs Developer
            </span>


          </div>
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="Jason's avatar" src="https://bootdey.com/img/Content/avatar/avatar6.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              Jason
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              Python Developer
            </span>


          </div>
          <div role="button"
            class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
            <span
              class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
              <img alt="Rebecca's avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="h-4 w-4" />
            </span>

            <span class="text-default-d3 text-90 text-600">
              Rebecca
            </span>

            <span class="ml-auto text-dark-l2 text-nowrap me-5">


            </span>

            <span class="ml-2">
              Android Developer
            </span>


          </div>
        </div>
      </div>
    </div>