<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">&nbsp;DEV<span id="hey"><strong>HUB</strong></span></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="IsUserLoggedOut()"routerLink="events" routerLinkActive="active">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="IsUserLoggedOut()"routerLink="specialevents" routerLinkActive="active">Admins</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" *ngIf="!IsUserLoggedOut()" routerLink="login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
      <a class="nav-link" *ngIf="IsUserLoggedOut()" (click)="logout()" id="hello">Logout</a>
    </ul>
  </div>

</nav>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>